RABBITMQ_HOST=localhost
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
REDIS_CONNECTION=localhost:6379
CATALOG_DB=Host=localhost;Port=5433;Database=catalogdb;Username=postgres;Password=postgres
LOANS_DB=Host=localhost;Port=5434;Database=loansdb;Username=postgres;Password=postgres
USERS_DB=Host=localhost;Port=5435;Database=usersdb;Username=postgres;Password=postgres
